.hero-info {
    position: relative;
    padding-top: 169px;
    padding-bottom: 0;
    background-image: url(../img/back10.png);
    background-repeat: no-repeat;
    background-position: top center;
    margin-top: -133px;
}

.hero-info::before {
    position: absolute;
    content: '';
    background-image: url(../img/back7.png);
    background-position: top center;
    background-repeat: no-repeat;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -3;
}
.cont{
    padding: 100px 0;
}
section{
    padding: 100px 0;
}
.per h2{
    text-align: left;
}
.per hr{
    margin:20px 0;
}
.per p{
    font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 187.5% */
text-transform: capitalize;
}
.per {
    margin-left: 0;
}

@media (max-width: 768px) {
    .per h2{
        text-align: center;
    }
    .per hr{
        margin:20px auto;
    }
}